.Board {
  text-align: center;
  margin-top: 50px;
}

.HexBoardTile {
  position: relative;
  -webkit-clip-path: polygon(
    25% 5%,
    75% 5%,
    100% 50%,
    75% 95%,
    25% 95%,
    0% 50%
  );
  clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
  height: 150px;
  width: 150px;
  background-color: #fff;
}
.hex-number {
}

.hex-images {
}

.hex-image {
}

.hex-title {
}
